{% extends "orders/base.html" %}


{% block body %}
<h2>Hello, {{ user.first_name }}, please complete your order</h2>
<ul>
    <li>Currently logged in as: {{ user.username }}</li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
</ul>
<hr>

<div class="container">
    <div class="row">
        <h4 id="page-header">Cart Items</h4>
        <div class="col-6">
            <ul id="checkOutCart" name="checkOutCart">
            </ul>

            <form action="{% url 'pay' %}" method="post" onSubmit="alert('Thank you for your order, confirmation will be sent to you via mail');">
                {% csrf_token %}
                <input id="order_overview" type="hidden" name="order_overview" value="salad and saled2" required disabled><br>
                <label for="order_price">Order price: </label>
                <input id="order_price" type="number" name="order_price" value="20.50" required disabled>
                <hr>
                <input type="submit" value="Pay" class="btn btn-primary"/>
            </form>

            <hr>
            <a href="{% url 'index' %}" type="button" class="btn btn-secondary">Continue shopping / edit cart</a>
        </div>
    </div>
</div>

{% endblock %}